*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
/* .navbar-brand {
    
} */
.navbar-brand img{
    width: 150px;
    
   
}
.navbar-links{
    height: 30px;
}
.links{
    margin-right: 20px;
    font-size: 16px;
    color:rgb(43, 41, 41);
    font-weight: bold;
    text-decoration: none;
    transition: all .8s;

}
.links:hover {
    color: rgb(9, 70, 174);
    border-bottom: 3px solid rgb(3, 128, 135);

}


.active {
    color: #a7ace5;
    border-bottom: 3px solid #a7ace5;
}             


.banner img{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}
/* Card area styles */
.card-area{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
}

.card{
    border: 1px solid slateblue;
    max-width: 27%;
    padding: 60px 10px ;
    border-radius: 50%;
}
.card h2, 
.card p {
    text-align: center; 
}
.card p{
    color: rgb(101, 94, 101);
}
.card h2{
    color:rgb(43, 0, 255);
}

/* Dialog area style */
.dialog{
    background-image: linear-gradient(to top left, #8b90cb, #1139a8) ;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}
.dialog-text{
    width: 550px;
    padding-top: 90px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.dialog-text h2{
    font-size: 30px;
    margin-bottom : 15px;
}

.dialog-text p{
    font-size:17px;
    text-align: justify;
}



.dialog-img{
    width: 450px;
}
.dialog-img img{
    width: 100%;
}

/* icon section */
.icons{
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}

/* Footer */
footer{
    background-image:  linear-gradient(to top left, #1139a8, #a7ace5) ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: antiquewhite;
}
